In [33]:

import pandas as pd


df = pd.read_fwf('clean_stores_data.txt')
print(df)

     Unnamed: 0  index                                            address  \
0             0      0                                                NaN
1             1      1  Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...
2             2      2        Heckerstraße 4/5\n50491 Säckingen, Landshut
3             3      3  5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury
4             4      4  Studio 6\nStephen landing\nSouth Simon\nB77 2W...
..          ...    ...                                                ...
446          44    446    Täschestraße 25\n39039 Nördlingen, Kirchlengern
447          44    447                                         K0ODETRLS3
448          44    448  Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...
449          44    449               Baumplatz 6\n80114 Kötzting, Bretten
450          45    450  Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...

      longitude         lat      locality    store_code staff_numbers  \
0           NaN         NaN           NaN  WEB-1388012W           325
1      51.62907        None  High Wycombe   HI-9B97EE4E            34
2      48.52961        None      Landshut   LA-0772C7B9            92
3         51.26        None      Westbury   WE-1DE82CEE            69
4       53.0233        None        Belper   BE-18074576            35
..          ...         ...           ...           ...           ...
446        52.2        None  Kirchlengern   KI-78096E8C            61
447  K8CXLZDP07  UXMWDMX1LC    3VHFDNP8ET    9D4LK7X4LZ    D23PCWSM6S
448    51.62907        None  High Wycombe   HI-EEA7AE62            33
449    49.03685        None       Bretten   BR-662EC74C            35
450    50.64336        None    Bad Honnef   BA-B4AED588            36

    opening_date   store_type    latitude country_code   continent
0     2010-06-12   Web Portal        None           GB      Europe
1     1996-10-25        Local    -0.74934           GB      Europe
2     2013-04-12  Super Store    12.16179           DE      Europe
3     2014-01-02  Super Store     -2.1875           GB      Europe
4     2019-09-09        Local    -1.48119           GB      Europe
..           ...          ...         ...          ...         ...
446   2005-05-12  Super Store     8.63333           DE      Europe
447   36IIMAQD58   NN04B3F6UQ  JZP8MIJTPZ   B3EH2ZGQAV  1WZB1TE1HL
448   1998-05-14        Local    -0.74934           GB      Europe
449   2020-10-17        Local     8.70745           DE      Europe
450   2001-05-12        Local      7.2278           DE    eeEurope

[451 rows x 13 columns]

In [46]:
df.query("staff_numbers=='30e'")

,Unnamed: 0,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
179,17,179,"Girschnerweg 163\n93597 Angermünde, Dahlem",52.4581,None,Dahlem,DA-ACC520AE,30e,1994-03-07,Local,13.28702,DE,Europe

In [31]:
df.dtypes

Empty DataFrame    object
Unnamed: 1         object
Unnamed: 2         object
Unnamed: 3         object
Unnamed: 4         object
Unnamed: 5         object
Unnamed: 6         object
Unnamed: 7         object
Unnamed: 8         object
Unnamed: 9         object
Unnamed: 10        object
dtype: object

In [45]:
df['staff_numbers'].unique()

array(['325', '34', '92', '69', '35', '36', '31', '20', '32', '25', '138',
       '38', '39', '33', '109', '8', '119', '28', '29', '27', 'J78', '96',
       '135', '30', '90', '120', '50', '75', '118', '37', '67', '26',
       '40', '6', '22', '24', '83', '82', 'BIP8K8JJW2', '117', '7', '21',
       '132', '131', '130', '70', '23', '51', '127', '4', '110', '5',
       '81', '85', '41', '57', '102', '103', '68', '99', '66', '124',
       '74', '87', '122', '112', '100', 'SKBXAXF5G5', '71', '30e', '128',
       '76', '77', '137', '111', '58', nan, '56', '72', '2429OB3LMM',
       '80', '101', '93', '73', '80R', '129', '60', '114', '52', '63',
       '78', '113', '94', '134', '84', '59', '108', '74BY7HSB6P', 'A97',
       '89', '53', '3n9', 'GT1FO6YGD4', '106', '48', 'FRTGHAA34B', '133',
       '107', '62', '86', '139', '98', '61', 'D23PCWSM6S'], dtype=object)

In [40]:
df['staff_numbers'].replace('30e',30)

0             325
1              34
2              92
3              69
4              35
          ...
446            61
447    D23PCWSM6S
448            33
449            35
450            36
Name: staff_numbers, Length: 451, dtype: object